/* General Layout */
body {
    margin: 0px;
    background-color: whitesmoke;
    font-family: 'Smythe', sans-serif;
}

header, main, footer{
    position: relative;
    width: 100vw;
    min-width: 320px;
    max-width: 800px;
    margin: 0px auto;
}

h1, h2, p{
    margin: 0;
}


ul {
    padding: 0;
    margin: 0;
    display: flex;

    li {
    list-style: none;
}
}



/* Header */
header {
    background-image: url("./images/banner.png");
    background-position: center;
    background-size: cover;
    height: 180px;
}

.header-container{
    color: white;
    padding: 40px;

    h1 {
        font-size: 3rem;
        margin: 0px;
        padding: 0px;
        font-weight: 400;
    }

    h2 {
        font-size: 2rem;
        margin: 0px;
        font-weight: 400;
        margin-bottom: 10px;
    }

    a{
        color:white;
        font-size: 1.5rem;
        position: relative;

        div{
            position:absolute;
            bottom: -5px;
            right: -5px;
            width: 18px;
            height: 18px;
            font-size: 15px;
            color: white;
            border-radius: 9px;
            background-color: #065F46;
            text-align: center;
            line-height: 18px;
            
        }
    }

}

/* Main */
main {
    box-sizing: border-box;
    border-right: 1px solid #D2D2D2;
    border-left: 1px solid #D2D2D2;
    padding-bottom: 30px;
}

/* Item */
.item-outer {
    width: 100%;
    margin: 0px auto;
}

.item-inner {
    width: 90%;
    padding: 40px 0px;
    display: flex;
    border-bottom: 1px solid #D2D2D2;
    margin: 0 auto;

    .food-img {
        width: 20%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px;

        img {
            width: 80%;
        }
    }

    .food-detail{
        width: 70%;
        padding: 0px 0px 0px 20px;

        .food-name {
            font-size: 3rem;
            line-height: 3rem;
        }

        .food-ingredient {
            color: #8B8B8B;
            padding-top: 0px;
            font-size: 1.6rem;
            line-height: 1.4rem;
        }

        .food-price {
            padding-top: 15px;
            font-size: 1.8rem;
        }
    }

    button {
        margin-left: auto;
        width: 50px;
        height: 50px;
        border: 1px solid #DEDEDE;
        border-radius: 25px;
        background-color: inherit;
        font-size: 30px;
        padding: 0px;
        line-height: 15px;
        font-weight: normal;
    }

}


/* Order */
.order-outer {
    width: 90%;
    margin: 0px auto;
}

.order-title{
    margin-top: 30px;
    text-align: center;
    font-size: 3rem;
}

.order-item-inner{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;

    .order-item {
        display: flex;
        align-items: center;
        gap: 20px;
        padding-bottom: 10px;

        .order-detail {
            font-size: 2rem;
        }

        .remove-btn {
                color: #BBB;
                font-family: Verdana;
                font-size: 0.7rem;
                border: none;
                background-color: inherit;
            }

        .order-price {
            margin-left: auto;
            font-size: 2rem;
        }
    }
}

.order-price-inner {

    padding-top: 20px;
    border-top: 1px solid black;

    .total-price {
        display: flex;
        font-size: 2rem;
    }

    .order-price {
        margin-left: auto;
        font-size: 2rem;
    }

}

.complete-order-btn{
    width: 100%;
    height: 60px;
    margin-top: 30px;
    background-color: #16DB99;
    font-family: Verdana;
    font-weight: 700;
    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 4px;
}


/* Payment Form */
.overlay{
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}

.modal{
    width: 80%;
    margin: 0 auto;
    margin-bottom: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: whitesmoke;;
    z-index: 2;
    display: none;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.payment-x {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 20px;
    font-family: Verdana;
    margin-right: 10px;
}


.payment-form {
    width: 95%;
    padding: 20px 10px;
    margin: 0px auto;
    font-family: Verdana;
    font-size: 2rem;

    p{
        text-align: center;
        font-weight: 700;
        margin-bottom: 30px;
    }

    input {
        display: block;
        box-sizing: border-box;
        width: 100%;
        height: 50px;
        margin-bottom: 20px;
        font-size: 1.2rem;
        padding: 0px 10px;
        border: 1px solid black;
        border-radius: 4px;
    }

    .payment-btn {
        width: 100%;
        height: 60px;
        background-color: #16DB99;
        font-family: inherit;
        font-weight: 700;
        font-size: 1rem;
        color: white;
        border: none;
        border-radius: 4px;
    }
}

/* Complete Message */

.complete-inner{
    width: 100%;
    background-color: #d9fcec;
    height: 180px;
    padding: 15px 0px;
    border-radius: 4px;
    margin: 0 auto;
    box-sizing: border-box;
    font-size: 2rem;
    margin-top: 30px;
    color: #065F46;

    .complete-msg {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
        text-align: center;
    }

    .rating {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 15px;
    }

    button{
        display: block;
        margin: 0 auto;
        width: 30%;
        height: 50px;
        background-color: #16DB99;
        font-family: Verdana;
        font-weight: 700;
        font-size: 1.2rem;
        color: white;
        border: none;
        border-radius: 4px;
    }
}

/* Footer */
footer {
    background-image: url("./images/footer.jpg");
    background-position: center;
    background-size: cover;
    height: 100px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    .footer-container{

        
        h2 {
            font-size: 2rem;
            margin: 0px;
            font-weight: 400;
            text-shadow: 1px 1px black;
        }
    }

}


/* button */
#add-order-btn:hover,
#add-order-btn:focus{
    background-color: lightgray;
    cursor: pointer;
    border: 2px solid black;
    outline: none;
}

#remove-order-btn:hover,
#remove-order-btn:focus{
    cursor: pointer;
    color: black;
}

.complete-order-btn:hover,
.complete-order-btn:focus,
.payment-btn:hover, 
.payment-btn:focus,
.rating-btn:hover,
.rating-btn:focus{
    cursor: pointer;
    border:1px solid black;
}

.payment-x:hover,
.payment-x:focus {
    cursor:pointer;
    color: red;
}

/* Subpage */
.your-order-outer {
    width: 100%;
    font-size: 1.5rem;

    h1 {
        padding-top: 30px;
        padding-bottom: 30px;
        text-align: center;
        font-size: 3rem;
    }
    
    .order-item {
        margin: 10px 20px 20px 20px;
        border-top: 1px solid black;

        .order-number {
            font-size: 2rem;
        }

        .order-time {
            font-size: 1.2rem;
            padding-bottom: 10px;
        }

        .order-item-detail {
            display: flex;

            .order-item-price{
                margin-left: auto;
            }
        }

        .order-item-total{
            display: flex;
            padding-top: 10px;

            .order-item-total-price{
                margin-left: auto;
            }
        }

        .rating-section{
            display: flex;

            span{
                margin-left: auto;
            }
        }

    }
}